body {
    font-size: 14px;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD0AAAA1CAIAAAB9U3TTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NjIxQjBCQkNGMTcwMTFFMEFBREJENzE1MkFDM0ExNTUiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NjIxQjBCQkJGMTcwMTFFMEFBREJENzE1MkFDM0ExNTUiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBDN0U3RDQ4RjE0NjExRTBBQURCRDcxNTJBQzNBMTU1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjBDN0U3RDQ5RjE0NjExRTBBQURCRDcxNTJBQzNBMTU1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+/qHfvQAACWBJREFUaN512mlWFUkQhuHc/yZRUBFwZAUdxQvPib59un5g3awcYvhiTM/Pnz+fnp5eXl6+ffv2/Pz89evX79+/9zKf5mW+zt8fP340OM/Lx9PCmf/ly5cfb8/8nFUzMp8eHx/nZzvMSz/nbz/bs82f3p4Gf//+Pcv79P3jaecmDJ339/cHWfMSofO3A2aGY2ZxB8/XGW/T4eH57ZmRxmcwEbTtr1+/Ym/eZ/mcMkv62m7zJBGHzpKRQuMzrcnzPp9mWqTP+5kFM+/x7WkqXmfNw8PDfG1Bz4x0dnQnjDhvcF7SWH87r5/zqeVtPg/6onvOmveZMxNwEkmtIuUz32YooSYeApjxh7cnMYeEz58/By37zmDYSCeAERvNtKTjU8KoO4mkt/nacvukSe9tEv8ndPY5Ec7L0DozOoNCO3h+tj4ms4oOaEmqyxiwB10ghOd5UniCB+Lk2rmxOicmlIvupBvgMDpHzvjvt2d4mF2Y3cib7abEqAE+ygW/vo5046qzkAWWxkNRhA4BIZDsm3k+ffqU/JL6jM7s7CPRznh6jOn5OxSQSuIc3mY+ATPlts1CYhhjCTJAt0nkbv7TapRkmvE5M0//RGLcDIupclsVEMc06+ZJwhJ8B+VehisgTLTDeVyl7Syy94DEEeXiaKxTRgQnpmeIv+x4ptbPOAYv/iFt5hyaxoJnWybYQuwFoew1ueT7kvSQBT8Z23xtcjvPiSeyAjQj6GdqHfFvF9EWM9jW8zMAhELspffnjycKspP0DtN8aBM6IrNhcjEZAW1yREHASpYx10gYbX1onpcY6MjOiBSGmGyEgjkighhuJ5JCa58+nkgEdGpv4Wk7Lo9me8mFp/GeP3/+RBAJjbwhPpPIvkFzBLwhEYl8K64GqwFJ2Hr8eBoJognrJK12AejYDVsbLcWgu7s7SE13RCuRiI2UzrKFyQzU5MiKksiKbkCSJjV4yduQJ+AihSxLaNo3GYwPzTozfzxLJ8BxnlFUGO3nCEIsbM627PRm80ZkTZcfpDJIKjoQw4bX0I2Z2WsQEoRMK/qaEFKpmKlJAfqaE4TdCIC6iBnqGetMOJK+7fPlRoXW+TSilW06rJccP3TFCbMLFUmas2KjnKlo33vufw5lftmuPPmANXeLbrFGxtdexX+OvMl5ZalsTCI3E0803EVK58Syy8S0s7R2YKOZ+JHa0w6fn/UEPilXiQAUSaTkYbJ5SkiueU8218KOSGnwxszaRBTL8WczJ8iSukCwo2b0DZoVPjwm64FmoZ7NwaGMJaKl7DMokEmMWaGyAzGXP2mGcEN4gSk8cJ+yDpHFuBCzY0d+YHOYcVO3yWRR2rgLvJQDBZ1+nNfKUIjLBJ/FkJbkpOf/UlO5SkxGvZpSvrqR08sgStKRUaVq1cN73bCj9E6sw/GI/P7tqfYhjBSVQriaOAkzcZIslG0sNUEkBYrKfcky+J8EVwk3z5UPlojRVxGhvV5fX0uYlGoWt1EpCmh1tlQnuVY6Na1TpU0l9zlKBhNOdh0oYUzbcXUmjPF9Lcvp7uJ0fJ9qjTvTISDLXE0y4+/YQHWTEiHiOGzxZXuwsMA7cxvv+XcikVeVT/NBarM8Q5qVLe6YnFpYz3a6eSRdgJ6de0BadQaPJN/aPvqyy75thjKFDD8GtmaHq8K7EOOpitmtIv47uh8+HolUf9VBwaCF8clawqSk7bQLGOyXbWQ7jElmhG6V3vaqjA9AmReWMJaWZgKuOO/dzZLtnJ05KWb1yqJ1t4R0jCSWvMRNCWIrVquYkD40B6szU5GGpSb8/fsXWi673K2J9MJV692wv62pnbtFpbWhf2fz6FDLAWRHKANiG7ILrjtXa9rRzmtqxbkMQStwu1XSGm6jjBd3fMs1QJgvryLZFDTUMnRYzpPrlAh00KEgSK39VYUvqrceD3n9TfeugqswZFG7YImgmi2aIel512+7MGtOS+zw3j/R5RgKRPJIF7QlJLvoYp25pzSm3zmOn5vabVhJYlJXziiUhE+udjdb3vuxsd4uA3/5xq5KWs/ZC3KwC8pcqpJWa1fbaDdy4Z6nYkXUGCZDeeg68p54lY5GqNiWw1bdqBrzbglPFtWc8QxZnk72bktQFOeDSS2HQnXWGQoi48I3j1G2IOuXHN8ERcaafnlcTfigkmZkzDfpuGC5BeSmILOZr5ODWC4/SS5HtZcn4SX4NR1rth94brpF/EDgAdnZTcHPlnZGtG8R8Jbb2Z2t6E5Yl7zjMv9AfZzlTUMnWlVAJRLA7SpCDhPwAtg+SLa90wQFpdOje9OQTK/7HRERuXCcqBJt+Xe6I6F9dRT4olvNIqGTJuj07SsemBHydFriVjod55c/Uc6UgmZqAvJOkjisDaSQwJHTUicNkxJDMU/DTbNcxSmICh0c38wssET6ce9WYBMmdCiHy2pn4jEhtcCMfj6T2JlGApKmhyLZ/HZcrgwUgTxec977yMoNVf7uVHRqktvpLgd/0xAVz2MsdO0sTWTVedtZuAiv0bebg/oORycWuZJPAWXfM+2YJytSXOKclqPb1YVUZ1cV203tZBVLW9vv9zvyIRXNvnrboUFjROOBmB0QofXHam5N9CFsxxO8zbeTvcF3ss8R4fbo49hLp0ZSPgqtrch/6W1rSPw3bwkDVX3uMFwX7lpp3z1IZXfcyDa0pK/6krRuikLcN9vgvpHKMe32AxUJyNDFk2hnbrva3SI43hXJvgy7+rGKDim41s/OCnXa2UqTGYN7rN3EyWmoOVxUSL63riykB6t2edX4oV8qZu+AEUjYIvzsFrUUqsLe/2nQ/XH8gB6QpFwaEooDzd4isebJv+p5lZKL+lLnQFx+49K1BG3fRwZHob57CJdjxbXSLOnRHF9tsQNkp+9+xm64tWFfD3ejQ86zyi7oyAQ7qqBLAHdJQhvu5+e5u7vTwk0QBaz93x26++V5NW2UnpcfdFfWfVzXZf6XiFa3snxXJdomSTSRa86X+Lu4clG6RVA7Zd+NybwjV1VRKpFVXHls6exuKsTZ6+srUlyMEENFHfV14RYSSgqY1PgsNsPJyD2dCOIyZK0luRTGRrjHtwQZQ1GQ2BK56/H9PzVS/VCmVTuTmwZIxR3XUVs6/GZsiGs3PsdMUemSdxWD8sn/vJAGhd0knZOO9XoPvBUPrf71/5R2lN2Xui6F9w1JP2vxhX4p8a6D/wHV5nbLWwMsYgAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;
}

a {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

.table-container {
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 2px 2px #999;
    -moz-box-shadow: inset 0 2px 2px #999;
    box-shadow: inset 0 2px 2px #999;
    display: block;
    text-align: center;
    margin: 2% 1%;
    padding: 2%;
}

.controls {
}

.controls h2 {
    text-align: center;
    font-size: 1.1em;
    float: left
}

.controls a {
    display: block;
    float: right;
    margin: 2px;
}

table {
    clear: both;
    width: 100%;
}

table td, th {
    border: dotted 1px #777;
    padding: 3px;
    height: 2.5em;
    background-color: #F5F5F5;
}

table th {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
}

table td.key, th.key {
    width: 10%;
    text-align: center;
}

table td.value {
    text-align: left;
}

table td.value div.keyval{
	display: inline-block;
	padding : 5px;
}

@media screen and (max-width: 500px) { 
	table td.value div.keyval{
		display: block;
		padding : 1px;
		width: 100%;
		text-overflow : ellipsis;
	}
}

table td.value div.keyval:after{
	content: ",";
}

table td.value div.keyval span.key{
	color: #333;
}

table td.value div.keyval span.key:after{
	content : ":";
}

table td.value div.keyval span.value{
	color: #777;
}


table td.action {
    width: 20%;
	min-width: 100px;
}

@media screen and (max-width: 1098px) { 
	table td.action a{
   		display: block;
		width: 80px;
		margin: 5px auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}


#console {
    clear: both;
}
.controls a{
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(top, #a5b8da, #7089b3);
  border-top: 1px solid #758fba;
  border-right: 1px solid #6c84ab;
  border-bottom: 1px solid #5c6f91;
  border-left: 1px solid #6c84ab;
  -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
  -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
  box-shadow: inset 0 1px 0 0 #aec3e5;
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 1px #64799e;
  text-transform: uppercase;
  width: 150px; 
}

.controls a:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer; 
}
.controls a:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee; 
}

.action  a {
    vertical-align: middle;
    margin: 0 1%;
	line-height: 15px;
}

.action a{
  background-color: #52a8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52a8e8), color-stop(100%, #377ad0));
  background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -ms-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
  background-image: linear-gradient(top, #52a8e8, #377ad0);
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  font: normal 11px "lucida grande", sans-serif;
  line-height: 1;
  padding: 3px 10px;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 112px;
  -webkit-background-clip: padding-box;
}

.action a.:hover {
    background-color: #3e9ee5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9ee5), color-stop(100%, #206bcb));
    background-image: -webkit-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: -ms-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: -o-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    border-top: 1px solid #2a73a6;
    border-right: 1px solid #165899;
    border-bottom: 1px solid #07428f;
    border-left: 1px solid #165899;
    -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
    -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
    box-shadow: inset 0 1px 0 0 #62b1e9;
    cursor: pointer;
    text-shadow: 0 -1px 1px #1d62ab;
    -webkit-background-clip: padding-box; 
}

.action a:active {
    background: #3282d3;
    border: 1px solid #154c8c;
    border-bottom: 1px solid #0e408e;
    -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
    -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
    box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
    text-shadow: 0 -1px 1px #2361a4;
    -webkit-background-clip: padding-box; 
}

.action a::-moz-focus-inner {
  border: 0;
  padding: 0; 
 }
